{% extends "base3.html" %}


{% block titulo %}Estamos en el index{% endblock %}



{% block contenido %}

<h1>Demo</h1>
<hr/>

<div class="row">
    <div class="col-md-8">

    <div id="line-example"></div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-8">
        <div id="cargar_datos">
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function ($) {
        console.log('llegando');
        $('#seleccionador').click(function(){
                    $valors1= $('#seleccionador').val();
                    console.log($valors1);
                    $.ajax({
                        method:"post",
                        url: '{% url "administrarpaises.views.funcion_ajax" %}',
                        data: {
                            //'valor': $('#id_startTime').val(),
                            'valor': $valors1,
                        },
                        //beforeSend:function() {},
                        success:function(data){
                            console.log('regresando del método');
                            console.log(data.mensaje);
                            var obj = jQuery.parseJSON(data.paises);
                            var cadena_html = "<div>";
                            for(i=0; i<obj.length; i++){
                                console.log(obj[i]);
                                cadena0 = "<ul>";
                                cadena1 = "<li>"+obj[i].fields.nombre+"</li>";
                                cadena2 = "<li>"+obj[i].fields.nombre_corto+"</li>";
                                cadena3 = "</ul>";
                                cadena_html = cadena_html + cadena0 + cadena1 + cadena2 + cadena3; 
                                console.log("------------------");
                            } 
                            cadena_html = cadena_html + "</div>";; 
                            $('#cargar_datos').html(cadena_html);
                        }
                    });
                });


        Morris.Line({
        element: 'line-example',
        data: {{datos|safe}},
        xkey: 'y',
        ykeys: ['hola', 'bhola'],
        labels: ['Series A', 'Series B']
        });

    });

        </script> 
{% endblock %}
